<header>
	<img src="/images/lovelyLogo.png">

	<a class="btn btn-danger">Renter Card</a>
	<!--<a class="btn btn-primary">List</a>-->
	{{#linkTo list classNames="btn btn-primary"}}List{{/linkTo}}
	{{#linkTo map classNames="btn btn-primary"}}Map{{/linkTo}}
</header>