<header>
	<img src="/images/lovelyLogo.png">

	<a class="btn btn-danger">Renter Card</a>
	{{#linkTo list classNames="btn btn-primary"}}List{{/linkTo}}
	{{#linkTo map classNames="btn btn-success"}}Map{{/linkTo}}
</header>